# ====================
# Logs and temporary stuff

/log/
/recordingmonitor.log
/var/
/tmp/

# ====================
# Deps:

# /libs/

# ====================
# Build info:

*.pyc
/.cache/
/*egg-info/

/build/*
/dist/*
/software/multicat

# ====================
# Coverage and test results:

.coverage
/cover-html/

# ====================
# Private stuff:

.env
devstart.py
recordingmonitor.sqlite
recordingmonitor.yml
