# ====================
# Logs:

/recordingmonitor.log

# ====================
# Deps:

# /libs/

# ====================
# Build info:

*.pyc
/.cache/
/*egg-info/

/dist/*

# ====================
# Coverage and test results:

.coverage
/cover-html/

# ====================
# Private stuff:

.env
