# ====================
# Logs and temporary stuff

/recordingmonitor.log
/var/
/tmp/

# ====================
# Deps:

# /libs/

# ====================
# Build info:

*.pyc
/.cache/
/*egg-info/

/build/*
/dist/*

# ====================
# Coverage and test results:

.coverage
/cover-html/

# ====================
# Private stuff:

.env
devstart.py
recordingmonitor.sqlite
recordingmonitor.yml

# placeholders and mocks for external software, like ccextractor
/software/
