CHANNELS STATE REPORT

{% if channels_went_down %}
NEW CHANNELS GO DOWN

{% for channel in channels_went_down %}
	{{channel.name}} : {{channel.channel_status}}
{% endfor %}

{% endif %}
{% if channels_stay_down %}
CHANNELS STILL DOWN

{% for channel in channels_stay_down %}
	{{channel.name}} : {{channel.channel_status}}
{% endfor %}

{% endif %}
{% if channels_went_up %}
NEW CHANNELS GO UP

{% for channel in channels_went_up %}
	{{channel.name}} : {{channel.channel_status}}
{% endfor %}

{% endif %}

Check timestamp: {{ ts }}
